
img{
  margin-bottom: 2.5rem;
  width: 60px;
  height: 75px;
}

.container-form{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-width: 600px;
  background-color: #0091D9;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 28px;
  background-color: #0091D9;
}

.title {
  font-size: 24px;
  margin-bottom: 2.5rem;
  color: #fff;
}

.container-content {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  max-height: 600px;
  overflow-x: auto;
  border-radius: 8px;
}

.container-content::-webkit-scrollbar {
  width: 8px; 
  
}

.container-content::-webkit-scrollbar-thumb {
  background: #7ce268b4; 
  border-radius: 12px;
  cursor: pointer;
}

.container-content::-webkit-scrollbar-thumb:hover {
  background: #7ce268b4; 
}

.container-content::-webkit-scrollbar-track {
  background: #fff; 
}

.container-search{
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  padding: 11px;
  font-size: 16px;
  width: 400px;
  flex: 1;
  border-radius: 8px 0px 0px 8px;
  border: none;
}

.input::placeholder {
  font-size: 14px;
}

.button {
  padding: 12px 22px;
  font-size: 16px;
  background-color: #027ebd;
  color: white;
  border: none;
  border-radius: 0px 8px 8px 0px;
  cursor: pointer;
}

.button:hover {
  background-color: #05a0ee;
  cursor: pointer;
}

.error {
  background-color: #fff;
  font-size: 14px;
  padding: 8px;
  border-radius: 8px;
  color: red;
  margin-top: 10px;
}

.results-lojas{
  color: #fff;
  margin-top: 30px ;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 4px;
}
.results{
  color: #05a0ee;
  font-weight: bold;
  font-size: 20px;
  padding: 5px;
  border-radius: 99px;
}

.empty-text {
  color: #fff;
}

.box-content {
  margin-top: 1px;
  background-color: #fff;
  width: 100%;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  overflow: hidden;
}

.box-content:hover{
  background-color: #9fe092f5;
  color: #fff;
  cursor: pointer;
}

.content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  z-index: 99;
}

.content-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.text-info-loja{
  font-size: 12px;
  margin-bottom: 5px;
  text-align: center;
}

.lojas-clientes{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 200px;
  object-fit: cover;
}

.box-content-text{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.box-distancia{
  display: flex;
  margin-top: 10px;
  gap: 5px;
  font-weight: bold;
}

.text-info-nomeFantasia {
  font-weight: bold;
}
.text-info-rua {
 font-size: 12px;
}

.arrow-show-form{
  display: none;
}

@media screen and (max-width: 1080px) {
  .container-form {
    max-width: 100%;
    min-height: 20vh;
    height: auto;
    max-height: 2000px;
    background-color: #006A9D;
    z-index: 9998;
  } 

  .arrow-show-form{
    display: flex;
    top: 10px;
    z-index: 9998;
    align-items: center;
    justify-content: center;
    background-color: #027ebd;
    width: 100%;
    height: 60px;
    border: 0;
    cursor: pointer;
  }

  .arrow-show {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    flex-direction: column;

    color: #fff;
    font-weight: bold;
  }

  .container-content{
    width: 100%;
    height: 200px;
    z-index: 98;
  }

  .box-content{
    width: 100%;
    height: 120px;
  }

  .img-logo {
    display: none;
  }
}

@media screen and (max-width: 680px) {
  .container-form {
    max-width: 100%;
    min-height: 10vh;
    height: auto;
    max-height: 200px;
    background-color: #006A9D;
    z-index: 9998;
  } 

  .title{
    font-size: 18px;
    margin-bottom: 0px;
  }

  .input{
    width: 300px;
  }

  .container-form{
    height: 0;
  }

  .form{
    padding: 10px;
  }

  .container-content{
    width: 100%;
    height: auto;
    max-height: 160px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .box-content{
    width: 100%;
    min-height: 100px;
  }

  .results-lojas{
    margin-top: 5px ;
    margin-bottom: 5px;
  }
}



