.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  position: absolute;
  background: white;
  padding: 60px;
  padding-top: 80px;
  padding-bottom: 80px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  width: 90%;
  position: relative;
}

.title-modal {
  color: #000;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.modal h2 {
  margin-bottom: 10px;
  font-size: 22px;
}

.modal p {
  margin-bottom: 15px;
  font-size: 16px;
}

.container-button{
  display: flex;
  gap: 1rem;
}

.button-close{
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #fff;
  border-radius: 99px;
  padding: 1rem;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  color: #05a0ee;
  cursor: pointer;
}

.box-midia {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 5px;
  background-color: #ece9e9;
  margin-top: 10px;
  padding: 0.250rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 12px;
}

.button-whats{
  background-color: #2ff108;
  padding: 0.5rem;
  border: none;
  border-radius: 99px;
  width: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.address-client{
  margin-bottom: 10px;
}

.button-close:hover {
  background-color: #0592d8;
  color: #fff;
}

.button-whats:hover {
  background-color: #2fdd0c;
}

.text-phone {
  color: #000;
  margin-top: 10px;
  font-weight: bold;
}
